# Dependências
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/
*.log

# Environment
.env
.env.local
.env.production
.env.development

# Banco de dados
*.db
*.sqlite
data/
*.sqlite-journal

# Uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Sistema
Thumbs.db
desktop.ini

# Vercel
.vercel/
